body {
    background-color: #f5f5f5;
}

a {
    color: #333;
}

a:hover {
    color: #0085a1;
}

a:hover .title, a:visited .title, a:link .title, a:active .title
{
    text-decoration: none;
}

/*----------------------------------------*/
@font-face {
    font-family: 'The Girl Next Door';
    src: url('thegirlnextdoor.ttf');
}

.header {
}

#preamble .title {
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'The Girl Next Door';
    text-decoration: none;
}

#content .taglist {
    margin-bottom: 2.5rem;
}

#preamble {
}

#postamble {
}

#archive {
}
