body {
    background-color: #f5f5f5;
}

a {
    color: #333;
}

a:hover {
    color: #0085a1;
}

a:hover .title, a:visited .title, a:link .title, a:active .title
{
    text-decoration: none;
}

.text-muted {
    color: #777;
    margin: 0 0 10px;
}

/*----------------------------------------*/
@font-face {
    font-family: 'The Girl Next Door';
    src: url('thegirlnextdoor.ttf');
}

#preamble .title {
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'The Girl Next Door';
    text-decoration: none;
    text-align: center;
}

#preamble .header {
    text-align: center;
}

#preamble .list-inline {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}
#preamble .list-inline-item {
    padding: 8px;
    float: left;
}

#content .taglist {
    margin-bottom: 2.5rem;
}

#preamble {
    margin: auto;
    width: 70%;
}

#content {
    margin: auto;
    width: 70%;
}

#postamble {
    margin: auto;
    width: 70%;
}

#archive {
}

code {
    overflow:auto;width:auto;border:solid green;border-width:.1em .1em .1em .1em;padding:.0em .2em;border-radius:6px;
    font-family: "Source Code Pro";
}

.org-src-container {
    background: #ffffff; overflow:auto;width:auto;border:solid green;border-width:.1em .1em .1em .8em;padding:.2em .6em;
}

.org-ol li:not(:last-child), .org-ul li:not(:last-child) {
    margin-bottom: .8rem;
}
    
